

<div class="about-main">
  <div class="container-about">
    <h2>KnowledgeMapとは</h2>
    <p>溢れるほどの情報に簡単にアクセスができる現代社会において</p>
    <p>その取捨選択を行うことのできる素質は，</p>
    <p>脳内にストックされた知識にほかなりません．</p>
    <p>より効率よく，知識を導入・整理したいあなたへ．</p>
    <div class="btn-wrapper">
      <a href="/mode" class="about-btn">さっそく始める</a>
    </div>
  </div>

  <img class="about-img" src="/about.png">
</div>
