<div class="main mode-main">
  <div class="mode-message">
    <h2>学習方法を選択してください</h2>
    <ul>
      <div class="btn-wrapper">
        <a href="/library/select" class="mode-btn"> マインドマップで学ぶ </a>
        <a href="/flashcard/select" class="mode-btn"> テスト形式で学ぶ </a>
      </div>
    </ul>
  </div>
</div>
