<div class="main mode-main">
  <div class="mode-message">
    <h2>学習方法を選択してください</h2>
    <ul>
      <div class="container-left">
        <p>データベース内の全てのフラッシュカードの相互作用を活かして</p>
        <p>知識のネットワークを形成しましょう．</p>
        <div class="btn-wrapper">
          <a href="/library" class="mode-btn"> ライブラリモードで学ぶ </a>
        </div>
      </div>
      <div class="container-right">
        <p>フラッシュカードを単語帳形式・早押し形式に，</p>
        <p>出題範囲や形式も設定してテスト形式で学ぶことができます．</p>
        <div class="btn-wrapper">
          <a href="/flashcard" class="mode-btn"> テストモードで学ぶ </a>
        </div>
      </div>
    </ul>
  </div>
</div>
