
<div class="main top-main">
  <div class="top-message">
    <h2>インプットをより効率的に</h2>
    <p>この情報に溢れる社会で，より多くの情報をインプットしたいあなたへ</p>
    <div class="btn-wrapper">
      <a href="/mode" class="btn" >さっそく始める</a>
    </div?
  </div>
</div>
