<div class="main comment-new">
    <div class="comtainer">
        <p>検索</p>
        <%= form_tag("/library", :method => "get") do %>
          <textarea name="search"></textarea>
          <input type="submit" value="検索">
        <% end %>

        <% @quizes.each do |quiz| %>
          <%= link_to(quiz.ques_s,"library/#{quiz.id}") %>
          <%= link_to(quiz.answer,"library/#{quiz.id}") %>
        <% end %>
    </div>
</div>
